 @charset 'utf-8';
 ul,p,div,video{padding:0;margin:0;}
 *{
 	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: 100%; 
    -webkit-appearance: none;
 }
img{width: 100%;}
html{height:100%;width:100%;min-height:480px;font-size:62.5%;overflow:hidden;font-family:'Microsoft YaHei';}
body{height:100%;width:100%;padding:0;margin:0;font-size:1.4em;overflow:hidden;background-image: url(../images/bg.jpg);/*background-size:cover;*/background-size: 100% 100%;}
#body{position:relative;width:100%;margin:0 auto;height:100%;overflow: scroll;max-width:400px;}
#showBox{width: 84%;margin:14rem auto;position: relative;}
.imgshow{position: absolute;background: rgba(0,0,0,.4)}
.imgshow p{color: #FFF;text-align: center;font-weight: bold;-ms-text-overflow: ellipsis;-o-text-overflow: ellipsis;-webkit-text-overflow: ellipsis;text-overflow: ellipsis; overflow:hidden; /*white-space:nowrap;*/
overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.zan{width: 40px;height: 40px;display:inline-block;background-image: url(../images/zan.png);background-size:84px 40px;background-position: 0,0; margin-right: .5rem;}
.curr{background-position: 40px,0;}
.mask{position: fixed;top:0;left:0;height: 100%;background: rgba(0,0,0,.7);width: 100%;}
.mask>div{position: absolute;top:50%;left:50%;-webkit-transform: translate3d(-50%,-50%,0);-moz-transform: translate3d(-50%,-50%,0);-ms-transform: translate3d(-50%,-50%,0);-o-transform: translate3d(-50%,-50%,0);transform: translate3d(-50%,-50%,0);width: 100%;color:#FFF;}
.mask>div p{width: 80%;margin:0 auto;}