*{margin:0;padding:0;}
html{width: 100%;font-size:62.5%;}
body{
	width:100%;
	font:normal 1.4em/1.6em "Microsoft YaHei",Verdana,Tahoma;
	background:#0093A5 url(../images/pbg.png) no-repeat;
	background-size:100%;
}
@media screen and (max-width:480px){
	#wrap{
		width:100%;
		height: 100%;
		overflow:hidden;
	}
}
@media screen and (min-width:480px){
	#wrap{
		width: 480px;
		height: 881px;
		overflow:hidden;
	}
}
img{width: 100%;}
#wrap{
	margin:0 auto;
	position:relative;
}
#wrap>div{margin:0 auto;}
#title{width: 70%;margin-top: 3rem!important;}
#pw{width: 70%;}
#plb{width: 50%;float: left;}
#pbtn{width: 40%;float: left;}

#mask{position: fixed;width: 100%;height: 100%;background: rgba(0,0,0,0.7);top:0;left:0;display: none;}
#mask>div{width: 80%;position: absolute;left:50%;top:50%;-webkit-transform:translate3d(-50%,-50%,0);}
.mask_t{position: absolute;top:2rem;left:10%;width: 80%;}
#mask_btn{color:#FFF;position: absolute;bottom:2rem;width: 60%;left:20%;height: 3rem;line-height: 3rem;text-align: center;}

#form{width: 70%;}
#form ul{overflow: hidden;margin-bottom: 1rem;background-image:url(../images/input_bg.png) ; background-size: contain;border:2px solid #FF8D18;height: 4rem;padding: 0 1rem;box-shadow: 2px 5px 5px rgba(0,0,0,.5);}
#form ul li{float: left;list-style: none;color: #C38913;font-size: 2rem;height: 4rem;line-height: 4rem;font-weight: bold;}
.lf{width: 20%;}
.rf{width: 80%;}
#form ul li input{background: none;height: 4rem;height: 4rem;border:none;width: 100%;}
#submit_box{width: 50%;margin:0 auto 1rem;}
#submit{background: #FF8D18;width: 100%;border:none;height: 4rem;font-size: 3rem;font-weight: bold;box-shadow: 2px 5px 5px rgba(0,0,0,.5);-webkit-appearance: none;}
#qrcode{width: 62%;margin-top: 1rem;}